body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.mouse {
  padding-top: 5%;
  animation: transform 3s infinite;
}
@keyframes transform {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}

#banner {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
}

#services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  min-height: 70vh;
}

#contact {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  min-height: 80vh;
}

input {
  width: 100%;
  background-color: transparent;
  border: solid white 1px;
  color: white;
}

.msg {
  height: 150px;
}

.custom-padding {
  padding-top: 3%;
}

#design-p,
#development-p,
#product-p {
  display: none;
}

#what-we-do img {
  cursor: pointer;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 0;
  color: black;
}

::placeholder {
  color: white;
  padding: 5px;
}

.jump {
  cursor: pointer;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

/* Start of mediaquery */

@media only screen and (max-width: 768px) {
  #what-we-do > .container > .row,
  #portfolio > .container > .row,
  #contact > {
    flex-direction: column;
    align-content: center;
  }

  #what-we-do > .container > .row > .col-4,
  #portfolio > .container > .row > .col-3 {
    min-width: 100%;
  }

  #contact .d-flex {
    flex-direction: column;
  }

  #contact .ml-2 {
    margin-left: 0px !important;
    margin-top: 0.5em;
  }

  #contact,
  #services,
  #banner {
    height: 55vh;
  }

  #services {
    height: 400px;
  }

  .btn {
    width: 160px;
    margin: auto;
  }

  #contact {
    height: 420px;
  }
}

#wrap1:hover, #wrap2:hover, #wrap3:hover, #wrap4:hover, #wrap5:hover, #wrap6:hover, #wrap7:hover, #wrap8:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out; 
}
